@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url("/imgs/BACKGROUND.png") center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: montserrat;
}
a {
    text-decoration: none !important;
    color: #000 ;
}
a:hover {
    color: #fff !important;
}

.headshot {
    display: block;
    margin: 40px auto 20px;
    width: 250px;
    height: 250px;
}
.intro-block {
    margin: 0 auto;
    text-align: center;
    width: 330px;
    font-size: 30px;
}
.intro-name {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1.3px;
}
.intro-title {
    font-size: 17px;
    letter-spacing: 1.8px;
    margin-top: 10px;
}
.bi-chevron-double-down{
    color: #4cc188;
    font-size: 30px;
    font-weight: bold;
}
.links-block {
    display: block;
    margin: 10px auto 0;
}
.btn-lnk {
    outline: none;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.5) 58%);
    display: block;
    height: 60px;
    width: 330px;
    border: 2px solid #fff;
    color: #000;
    letter-spacing: 1.5px;
    margin: 0 auto 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgb(132, 108, 99, 0.30);
}
.btn-lnk:hover {
    background: rgb(76,193,136);
    background: linear-gradient(90deg, rgba(76,193,136,1) 0%, rgba(76,193,136,0.6264880952380952) 58%);
    border: 2px solid #4cc188;
    color: #fff;
}
.connect {
    text-align: center !important;
    padding: 17px 0 !important;
    margin: 0 auto !important;
}
.copyright {
    text-align: center;
    margin: 30px auto 0;
    font-size: 10px;
}

